<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreshGlobally" version="1.0.0" targetFramework="net451" />
  <package id="MultipleVersions" version="1.0.1" targetFramework="net451" />
  <package id="Package1" version="1.0.0" targetFramework="net451" />
  <package id="Package2" version="1.0.0" targetFramework="net451" />
  <package id="Package3" version="1.0.0" targetFramework="net451" />
</packages>