BODY {
    font-family: 'Comic Sans MS';
}

/* masonry */
.grid-item {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

/* scores */
.score-1 {
    background: lightgreen;
}

.score-2 {
    background: lightblue;
}

.score-3 {
    background: #FFFFAA;
}

.score-4 {
    background: #f39c12;
}

.legend {
    float: right;
    background: #eee;
    border-radius: 5px;
}
.legend > div {
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1.6em;
    text-align: center;
}

.score-5 {
    background: #FF6961;
}

/* dependencies-only */
.dependency .version {
    font-size: xx-small;
}

.dependency.dependency-fresh .version {
    display: none;
}

.dependency-fresh {
    color: darkgreen;
}
.dependency-fresh:before {
    content: '👍';
}

.dependency-stale {
    color: brown;
}
.dependency-stale:before {
    content: '💩';
}

ul.dependencies-list {
    padding-left: 20px;
    text-indent: 2px;
    list-style: none;
    list-style-position: outside;
}
